<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View page (members)</title>
    </head>
    <body>
        <div class="messagesContainer">
            <%= messages.forEach((message) => { %>
                <div class="message">
                    <p>Author: <%= message.author %></p>
                    <p>Title: <%= message.title %></p>
                    <p>Message: <%= message.message %></p>
                    <p>Date: <%= message.date %></p>
                </div>
            <% }) %>
        </div>
        <form action="/addMessage" method="post">
            <label for="messageInput">Enter message</label>
            <textarea name="messageInput">

            </textarea>
            <button type="submit">Enter</button>
        </form>
    </body>
</html>